
.divBackground {
    background-image: url("http://cis-iis2.temple.edu/Spring2016/CIS3342_tue49753/TermProject/pics/fondue.png");
      background-size: cover;
    background-repeat: no-repeat;
    padding-top: 700px;
}